body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
   
  /* background-image: url('./Digitalbg.png'); 
  background-size: contain; 
  background-position: center; 
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;  */
  }
  #root{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
  }
  
  .container {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     margin-top: 115px;
   /* margin-right: 360px; */
    width: 300px;
  }
  
  .container h3 {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  .container p {
    font-size: 15px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .container input[type="email"],
  .container input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .container input[type="password"] {
    -webkit-text-security: disc; /* For Chrome, Safari, and Edge */
    text-security: disc; /* Standard syntax */
  }
  .forgot-password{
    text-align: end;
    padding-bottom: 10%;
    padding-top: -1%;
  }
  
  .container button {
    width: 100%;
    padding: 10px;
    background-color:#5C218B;
    color: #ffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .container button:hover {
    background-color:purple;
  }
  img{
    width: 200px;
    height: auto;
    margin-left: 21%;
  }